*{
    margin:0px;
    padding:0px;
}

h1{
    font: bold 24px Tahoma;
}

h2{
    font: bold 20px Tahoma;
}

header,section,footer,aside,nav,article,hgroup{
    display:block;
}

body{
    background:white;
    width:100%;
    display:-webkit-box;
    -webkit-box-pack: center;

}

p{
    font: bold 18px Tahoma;
    color:white;

}

.menu_list:hover{
    background:rgb(9, 84, 255);
}

.menu_list{
    -webkit-transition: background 1s;
}

#big_wrapper{
    max-width:1000px;
    margin: 20px 0px;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
}

#top_header{
    background:rgb(124, 124, 124);
    color:white;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    text-align:center;
}

#top_menu{

    background:rgb(124, 124, 124);
    color:white;
    text-align:center;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}

.menu_links{
    color:inherit;
    
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #7A991A;
}

#top_menu li{
    padding:10px;
    display:inline-block;
    list-style: none;
    height: 27px;
    margin-left:20px;
    margin-right:20px;
    font: bold 25px Gothic Century;
}

#main_wrapper{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
}

#main_section{
    margin-top:20px;
    border-radius:10px;
    background:rgb(124, 124, 124);
    -webkit-box-flex:1;
    padding: 20px;
}	

#side_section{
    width:300px;
    margin-top:20px;
    margin-left:20px;
    border-radius:10px;
    background:rgb(124, 124, 124);
    padding: 20px;	
    text-align: center
}

#bot_footer{
    text-align:center;
    margin-top:20px;
    height:100px;
    -webkit-box-flex:1;
    background:rgb(124, 124, 124);

}
ul
{
    padding:20px;
    display:inline-block;
    list-style: none;
    margin-left:60px;
    margin-right:60px;
    font: bold 25px Gothic Century;
}